<!DOCTYPE html>
<html lang="es">
	<head>
		<!-- Include con ejs de todo el codigo en comun del head -->
		<%- include('./partials/head.ejs') %>
		<link rel="stylesheet" href="/stylesheets/home.css" />
		<title>Inicio | BeerStore</title>
	</head>

	<body>
		<!-- Include del header.ejs -->
		<%- include('./partials/header.ejs') %>
		<main>
			<div id="carouselExampleCaptions" class="carousel slide m-auto" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
					<li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
					<li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
					<li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
					<li data-target="#carouselExampleCaptions" data-slide-to="4"></li>
				</ol>
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div id="img1">
							<div class="difuminado"></div>
						</div>
						<div class="carousel-caption d-none d-md-block">
							<h5>First slide label</h5>
							<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
						</div>
					</div>
					<div class="carousel-item">
						<div id="img2"><div class="difuminado"></div></div>
						<div class="carousel-caption d-none d-md-block">
							<h5>First slide label</h5>
							<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
						</div>
					</div>
					<div class="carousel-item">
						<div id="img3"><div class="difuminado"></div></div>
						<div class="carousel-caption d-none d-md-block">
							<h5>First slide label</h5>
							<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
						</div>
					</div>
					<div class="carousel-item">
						<div id="img4"><div class="difuminado"></div></div>
						<div class="carousel-caption d-none d-md-block">
							<h5>First slide label</h5>
							<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
						</div>
					</div>
					<div class="carousel-item">
						<div id="img5"><div class="difuminado"></div></div>
						<div class="carousel-caption d-none d-md-block">
							<h5>First slide label</h5>
							<p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
						</div>
					</div>
				</div>
				<a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
					<span class="carousel-control-prev-icon" aria-hidden="true"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
					<span class="carousel-control-next-icon" aria-hidden="true"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>

			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium harum provident dicta, labore
				voluptatibus nam. Blanditiis animi dicta distinctio ipsa aliquam minus corrupti maxime! Beatae
				asperiores earum ea, placeat aliquid omnis optio molestiae amet vel aut cum voluptates minima iusto
				fuga laudantium laborum debitis tempore veritatis eligendi nesciunt aliquam itaque deserunt! Ea
				accusamus itaque ex dolorem in saepe facilis sit fugit sint, recusandae tempore distinctio eos
				sequi beatae aspernatur sed odio numquam repellat fugiat necessitatibus corporis hic. Qui delectus
				pariatur molestiae adipisci quia illum atque nesciunt rerum dolorum aliquam quos temporibus nobis,
				nam ratione porro. Numquam soluta dicta, doloribus illum in ipsam ex quisquam aperiam assumenda
				unde ab facere voluptas amet, corrupti aliquam necessitatibus commodi quae, repellat quidem fuga
				nihil odit laboriosam veritatis! Voluptates pariatur rem ipsa accusamus tempora dolores nihil
				aperiam quasi laboriosam? Nemo deleniti amet, omnis exercitationem iusto quasi distinctio harum
				ullam rerum aperiam accusamus cumque impedit commodi illo laudantium libero consequatur nulla
				aspernatur enim placeat maxime tempore dolor velit atque? Dicta mollitia sit, vel illum neque et
				illo aperiam eos architecto sint, beatae provident deserunt, velit quia debitis! Dolore, atque
				nesciunt sint mollitia quo doloribus ea aut porro odio vero autem recusandae commodi sed nihil
				explicabo voluptate beatae cum. Odio, nobis itaque perferendis dolores earum beatae at dolor natus!
				Minima atque sed, laboriosam iure labore fugiat? Est beatae, itaque reprehenderit commodi
				voluptatum eum dignissimos sapiente expedita veniam ipsa ut asperiores hic quisquam similique
				illum? Dignissimos inventore explicabo, saepe accusantium quaerat tempore. Labore dolor culpa nulla
				modi repellendus voluptatem, saepe soluta porro voluptas ullam quidem voluptatibus praesentium
				doloribus. Perferendis sunt enim facilis rem culpa eius saepe ipsum voluptatum consequuntur harum
				dicta eos eligendi unde veniam earum laboriosam excepturi ducimus neque porro, necessitatibus
				beatae quas? Obcaecati, laboriosam nostrum facilis quas cumque dolore blanditiis architecto
				numquam, nihil explicabo consequuntur vitae.
			</p>
		</main>
		<!-- Include del footer.ejs -->
		<%- include('./partials/footer.ejs') %> <%- include('./partials/jsIncludes.ejs') %>
	</body>
</html>
