@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: "Roboto", sans-serif;
	background-image: url("../images/bg-body.png");
}

.container {
	width: 100vw;
	margin: auto;
}

.main-header {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.vip-products {
	width: 100%;
	display: flex;
	flex-direction: column;
}

.vip-products p {
	font-size: 10px;
}

.vip-products p,
.more,
h2 {
	margin-left: 10px;
}

h2 {
	font-size: 30px;
}

.vip-products p {
	font-size: 20px;
}

.logo {
	border-radius: 50%;
	margin-bottom: 20px;
	width: 150px;
}

header > a > span {
	font-size: 30px;
	color: black;
}

nav ul {
	margin: 30px 0 30px 0;
}

ul li {
	padding: 15px 10px;
	border-bottom: 2px solid white;
	background-color: grey;
}

nav,
footer {
	width: 100%;
	text-align: center;
}
ul li {
	list-style: none;
}

li a {
	text-decoration: none;
	padding: 5px 10px;
	font-size: 20px;
	color: white;
}

.banner {
	display: none;
}

.product {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.zoom {
	position: absolute;
	left: 0;
	top: 50%;
	background-color: rgba(0, 0, 0, 0.6);
	width: 100%;
	text-align: center;
	color: white;
	font-size: 15px;
	text-decoration: none;
	padding: 10px 0;
}
.photo-container {
	position: relative;
	width: 100%;
	margin-bottom: 20px;
}

.photo {
	width: 100%;
}

.special {
	position: absolute;
	right: 20px;
	top: 0;
	width: 70px;
}

.more {
	padding: 10px 30px;
	background-color: rgba(0, 0, 0, 0.8);
	color: white;
	font-size: 20px;
	text-decoration: none;
	margin: 30px 10px;
}

.main-footer {
	width: 100%;
	vertical-align: center;
}
