@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;700&display=swap");

#img-index {
	width: 1000px;
}

.inline-block {
	display: inline-block;
}

body {
	width: 80%;
	margin: 20px auto;
	overflow: hidden;
}

header {
	float: left;
	margin-left: 144px;
}

.container-img {
	float: right;

	position: relative;
}
.container-img p.nombre {
	position: absolute;
	bottom: 250px;
	left: -354px;
}

.container-img p.apellido {
	position: absolute;
	bottom: 200px;
	left: -354px;
	z-index: -1;
}

.container-img p {
	font-family: "Work Sans", sans-serif;
	font-size: 40px;
}

.container-img h1 {
	position: absolute;
	width: 136%;
	bottom: 20px;
	left: -354px;
	font-size: 70px;
	background-color: rgba(255, 255, 255, 0.5);
	display: block;
	font-family: "Raleway", sans-serif;
}
