main {
	margin-top: 20px;
}

/* --- HEADER --- */

#carrito {
	display: flex;
	flex-wrap: wrap;
	border: 1px solid rgb(192, 192, 192);
	background-color: white;
	border-radius: 5px;
}

#header-cart {
	border-bottom: 1px solid rgb(192, 192, 192);
	width: 100%;
	margin: 0px 10px;
}

#header-cart h2 {
	margin: 15px 0px;
}

/* --- MAIN --- */

#body-cart {
	display: flex;
	flex-wrap: wrap;
	margin: 10px 10px;
	width: 100vw;
	text-transform: capitalize;
}

#img-cart-container {
	/* border: 1px solid red; */
	width: 20%;
	height: 150px;
	overflow: hidden;
}

#img-cart-container img {
	/* border: 1px solid red; */
	display: block;
	width: 80px;
	margin: auto;
	height: auto;
}

#detalles-cart {
	display: flex;
}

#descripcion-cart {
	/* border: 1px solid blue; */
	margin-top: 30px;
	margin-left: 20px;
	display: block;
}

#descripcion-cart h2 {
	font-size: 1.3rem;
}

#counter {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	width: 90%;
	height: 30px;
	margin: 1px auto 10px auto;
	text-transform: capitalize;
}

/* #counter button {
	width: 20px;
	height: 20px;
	margin: 0px 10px;
} */

#precio-cart {
	display: flex;
}

#sum-cart,
#res-cart {
	padding: 0;
	width: 25px;
	height: 25px;
}
#sum-cart {
	margin-right: 10px;
	margin-left: 10px;
}
#res-cart {
	margin-left: 10px;
	margin-right: 10px;
}

/* --- FOOTER --- */

#footer-cart {
	margin: 20px 0px;
	border-top: 1px solid rgb(235, 235, 235);
	width: 90%;
	margin: auto;
	text-transform: capitalize;
}

.main-sumary {
	display: flex;
	flex-wrap: wrap;
	margin-top: 20px;
	color: rgb(116, 116, 116);
}

.cantidad {
	display: flex;
	width: 100%;
	height: 25px;
}

.precio-unidad {
	width: 80%;
	height: 30px;
}

.precio-unidad-valor {
	display: flex;
	justify-content: flex-end;
	width: 20%;
	height: 30px;
}

.main-footer {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	height: 30px;
	margin-top: 30px;
	font-size: 1.4rem;
}

.total {
	display: flex;
	width: 50%;
	height: 30px;
}

#precio-final-cart {
	display: flex;
	justify-content: flex-end;
	width: 50%;
	height: 30px;
	font-weight: 200;
}

#footer-cart button {
	margin: 20px 0px;
}
