* {
	/* outline: 1px solid red; */
}

#carrito {
	outline: 1px solid red;
	display: flex;
	flex-wrap: wrap;
}
#img-cart-container {
	width: 80px;
	height: 150px;
	overflow: hidden;
}

#img-cart-container img {
	outline: 1px solid red;
	display: block;
	width: 100%;
	margin: auto;
	height: auto;
}

#header-cart {
	width: 100%;
}
#detalles-cart {
	display: flex;
}
#header-cart h2 {
}

#body-cart {
	width: 100%;
}

#footer-cart {
	width: 100%;
}

#sum-cart,
#res-cart {
	padding: 0;
	width: 25px;
	height: 25px;
}
