<!DOCTYPE html>
<html lang="es">
	<head>
		<!-- Include con ejs de todo el codigo en comun del head -->
		<%- include('./partials/head.ejs') %>
		<link rel="stylesheet" href="/stylesheets/login.css" />
		<title>Login | BeerStore</title>
	</head>

	<body>
		<!-- Include del header.ejs -->
		<%- include('./partials/header.ejs') %>
		<main class="container">
			<div class="cont-login col-md-4 m-auto">
				<h2>Login</h2>

				<!-- Formulario de login -->
				<form id="frm-login">
					<div class="form-row">
						<div class="form-group col-md-12">
							<label for="usuario">Usuario</label>
							<input
								class="form-control"
								type="text"
								name="usuario"
								id="usuario"
								placeholder="pepe"
								required
							/>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-12">
							<label for="usuario">Password</label>
							<input
								class="form-control"
								type="password"
								name="password"
								id="password"
								placeholder="12345"
								required
							/>
						</div>
					</div>
					<div class="form-row justify-content-around">
						<div class="form-group">
							<p><a href="#">Olvidó su Contraseña</a></p>
						</div>
						<div class="form-group">
							<p><a href="/registro">Crear Cuenta</a></p>
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6">
							<button type="button" class="btn btn-primary">Ingresar</button>
						</div>
					</div>
				</form>
			</div>
			<!-- Fin del formulario -->
		</main>
		<!-- Include del footer.ejs -->
		<%- include('./partials/footer.ejs') %> <%- include('./partials/jsIncludes.ejs') %>
	</body>
</html>
