<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<%- include('head') -%>
		<title>Creditos</title>
	</head>
	<body>
		<%- include('header') -%>
		<div class="container">
			<h1 class="titulo cred">Sitio Basico Creado Por Mauro Asselborn</h1>
			
			<%- include('footer') -%>
		</div>
	</body>
</html>
