<header>
	<input type="checkbox" id="btn-menu">
	<label for="btn-menu"><i class="fas fa-bars"></i></label>
	<nav>
		<ul>
            <li><a href="/">Home</a></li>
			<li><a href="/heroes">Heroes</a>
			<li><a href="/heroes/detalle">Detalles</a></li>
			<li><a href="/heroes/bio">Biografía</a></li>
			</li>
		</ul>
	</nav>
</header>
